<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NetworkDiagram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <NetworkDiagram.Properties.Settings>
            <setting name="ActiveAdapter" serializeAs="String">
                <value/>
            </setting>
            <setting name="WindowPosX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowPosY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SentColor" serializeAs="String">
                <value>#F0D0F0</value>
            </setting>
            <setting name="ReceivedColor" serializeAs="String">
                <value>#C0F0F0</value>
            </setting>
            <setting name="ActiveAdapter" serializeAs="String">
                <value/>
            </setting>
        </NetworkDiagram.Properties.Settings>
    </userSettings>
</configuration>
