<?xml version="1.0" encoding="utf-8"?>

<Package
    xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
    IgnorableNamespaces="uap uap5 rescap">

	<Identity
	  Name="16096RokkyStudio.NetworkDiagram"
	  Publisher="CN=99E7D976-FC9E-4596-A109-4379C6D95726"
	  Version="1.0.5.0" />

	<Properties>
		<DisplayName>Network Diagram</DisplayName>
		<PublisherDisplayName>RokkyStudio</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="Network Diagram.exe"
		  EntryPoint="Network Diagram.App">
			<uap:VisualElements
			  DisplayName="Network Diagram"
			  Description="Network Diagram - small application to display the baud rate of a network interface. Now you will know exactly what bandwidth is being used to connect to the Internet connection or LAN. To get started, simply select the network interface you need."
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="NetworkDiagram">
				</uap:DefaultTile >
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>

			<Extensions>
				<uap5:Extension
					Category="windows.startupTask"
					Executable="Network Diagram.exe"
					EntryPoint="Network Diagram.App">
					
					<uap5:StartupTask
						TaskId="NetworkDiagram"
						Enabled="true"
						DisplayName="Network Diagram" />
				</uap5:Extension>
			</Extensions>

		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient"/>
		<Capability Name="privateNetworkClientServer"/>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
